.App {
  text-align: center;
  background-color: rgb(18, 141, 125);
  background-attachment: fixed;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(245, 241, 241);
}

.App-link {
  color: #c8d32b;
}

.socialMedia{
  margin: 0rem 2rem;
}

.socialMedia:hover{
    transition: all .2s ease-in-out;
    transform: translateY(-10%);
}

.socialMediaLeetcode:hover{
  transition: all .2s ease-in-out;
  transform: translateY(-10%);
}

.socialMediaLeetcode{
  margin: 0rem 2rem;
  position: relative;
  top: 0.5rem;
  width:5.8rem;
}

/*rgba agrega opacidad, la transparencia va del 0 a 1, se usa en el diseño web moderno, se utiliza en cajas de
contenedores y se utiliza para dar transparencia y poner un fondo*/

.contactMe {
  background: rgba(63, 61, 61, 0.65);
  color: white;
  width: 100%;
}

.leetcodeLogo {
  position: relative;
  top: 2 rem;
}