.App {
  text-align: center;
  background-color: rgb(18, 141, 125);
}

.userBar {
  float: left;
  background-color: rgba(14, 146, 128);
  color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  /*
  por si rompo algo xd
  flex-direction: column;
  align-items: center;
  */
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #c8d32b;
}

.socialMedia{
  margin: 0rem 2rem;
}

.socialMedia:hover{
    transition: all .2s ease-in-out;
    transform: translateY(-10%);
}

.socialMediaLeetcode:hover{
  transition: all .2s ease-in-out;
  transform: translateY(-10%);
}

.socialMediaLeetcode{
  margin: 0rem 2rem;
  position: relative;
  top: 0.5rem;
  width:5.8rem;
}

/*rgba agrega opacidad, la transparencia va del 0 a 1, se usa en el diseño web moderno, se utiliza en cajas de
contenedores y se utiliza para dar transparencia y poner un fondo*/

.feed {
  background-color: rgb(252, 252, 252);
  width: 100%;
  color: white;
  float: left;
}

.socialMediaBar {
  background-color: rgba(14, 146, 128);
}

.achievements{
  position: relative;
}

.an_achievementPhoto{
  width: 54rem;
}

.leetcodeLogo {
  position: relative;
  top: 2 rem;
}